BookingDataStructures/Schemas/BookingSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/BookingSchema" elementFormDefault="qualified" targetNamespace="http://www.example.org/BookingSchema">
      
  
  <complexType name="BookingRegistrationReqType">
            
    
    <sequence>
                  
      
      <element maxOccurs="1" minOccurs="1" name="DateTime" type="string"/>
                  
      
      <element maxOccurs="1" minOccurs="1" name="NumberOfPeople" type="int"/>
                
    
    </sequence>
          
  
  </complexType>
      
  
  <complexType name="BookingRegistrationResType">
            
    
    <sequence>
                  
      
      <element maxOccurs="1" minOccurs="1" name="BookingId" type="int"/>
                
    
    </sequence>
          
  
  </complexType>
      
  
  <complexType name="BookingType">
            
    
    <sequence>
                  
      
      <element maxOccurs="1" minOccurs="1" name="BookingId" type="int"/>
                  
      
      <element maxOccurs="1" minOccurs="1" name="DateTime" type="string"/>
                  
      
      <element maxOccurs="1" minOccurs="1" name="NumberOfPeople" type="int"/>
                
    
    </sequence>
          
  
  </complexType>
      
  
  <complexType name="BookingListResType">
            
    
    <sequence>
                  
      
      <element maxOccurs="unbounded" minOccurs="1" name="Booking" type="tns:BookingType"/>
                
    
    </sequence>
          
  
  </complexType>
      
  
  <complexType name="BookingInfoType">
            
    
    <sequence>
                  
      
      <element maxOccurs="1" minOccurs="1" name="ClientId" type="int"/>
                  
      
      <element maxOccurs="1" minOccurs="1" name="DateTime" type="string"/>
                  
      
      <element maxOccurs="1" minOccurs="1" name="NumberOfPeople" type="int"/>
                
    
    </sequence>
          
  
  </complexType>
      
  
  <complexType name="GenericResultResType">
            
    
    <sequence>
                  
      
      <element maxOccurs="1" minOccurs="1" name="Result" type="boolean"/>
                
    
    </sequence>
          
  
  </complexType>
    
  
  <complexType name="UpdateBookingReqType">
        
    <sequence>
            
      <element maxOccurs="1" minOccurs="1" name="DateTime" type="string"/>
            
      <element maxOccurs="1" minOccurs="1" name="NumberOfPeople" type="int"/>
          
    </sequence>
      
  </complexType>
    
  
  <element name="UpdateBookingRequest" type="tns:UpdateBookingReqType"/>
      
  
  <element name="BookingRegistrationRequest" type="tns:BookingRegistrationReqType"/>
      
  
  
  <element name="BookingRegistrationResponse" type="tns:BookingRegistrationResType"/>
      
  
  
  <element name="BookingListResponse" type="tns:BookingListResType"/>
      
  
  
  <element name="BookingInfo" type="tns:BookingInfoType"/>
      
  
  
  <element name="GenericResultResponse" type="tns:GenericResultResType"/>
      
  
  <element name="Booking" type="tns:BookingType"/>
      
  
  <complexType name="BookingArrayType">
            
    
    <sequence>
                  
      
      <element maxOccurs="unbounded" minOccurs="0" name="Booking" type="tns:BookingType"/>
                
    
    </sequence>
          
  
  </complexType>
      
  
  <element name="BookingArray" type="tns:BookingArrayType"/>
        
  
  <complexType name="BookingRegistrationRequestArray">
        
    <sequence>
            
      <element maxOccurs="unbounded" minOccurs="0" name="BookingRegistrationRequest" type="tns:BookingRegistrationReqType"/>
          
    </sequence>
      
  </complexType>
        
  
  <element name="BookingRegistrationRequestArray" type="tns:BookingRegistrationRequestArray"/>
    
    
  <complexType name="UpdateBookingRequestArray">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="UpdateBookingRequest" type="tns:UpdateBookingReqType"/>
    </sequence>
  </complexType>
      
  <element name="UpdateBookingRequestArray" type="tns:UpdateBookingRequestArray"/>
  
</schema>
