BookingManagement.module/Schemas/BookingManagementParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/BookingManagement/parameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/BookingManagement/parameters">
      
  
  <xs:element name="bookingsGetParameters">
            
    
    <xs:complexType>
                  
      
      <xs:sequence>
                        
        
        <xs:element maxOccurs="1" minOccurs="1" name="bookingId" type="xs:string"/>
                      
      
      </xs:sequence>
                
    
    </xs:complexType>
          
  
  </xs:element>
      
  
  <xs:element name="bookingsPutParameters">
            
    
    <xs:complexType>
                  
      
      <xs:sequence>
                        
        
        <xs:element maxOccurs="1" minOccurs="1" name="bookingId" type="xs:string"/>
                      
      
      </xs:sequence>
                
    
    </xs:complexType>
          
  
  </xs:element>
      
  
  <xs:element name="bookingsDeleteParameters">
            
    
    <xs:complexType>
                  
      
      <xs:sequence>
                        
        
        <xs:element maxOccurs="1" minOccurs="1" name="bookingId" type="xs:string"/>
                      
      
      </xs:sequence>
                
    
    </xs:complexType>
          
  
  </xs:element>
        
  
  <xs:element name="clients-clientIdGetParameters">
        
    <xs:complexType>
            
      <xs:sequence>
                
        <xs:element maxOccurs="1" minOccurs="1" name="clientId" type="xs:string"/>
              
      </xs:sequence>
          
    </xs:complexType>
      
  </xs:element>
        
  
  <xs:element name="clients-clientIdPutParameters">
        
    <xs:complexType>
            
      <xs:sequence>
                
        <xs:element maxOccurs="1" minOccurs="1" name="clientId" type="xs:string"/>
              
      </xs:sequence>
          
    </xs:complexType>
      
  </xs:element>
        
  
  <xs:element name="clients-clientIdDeleteParameters">
        
    <xs:complexType>
            
      <xs:sequence>
                
        <xs:element maxOccurs="1" minOccurs="1" name="clientId" type="xs:string"/>
              
      </xs:sequence>
          
    </xs:complexType>
      
  </xs:element>
    

</xs:schema>
