BookingManagement.module/Schemas/BookingManagementRESTHeaderParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:Q1="http://tns.tibco.com/bw/REST" xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/BookingManagementREST/headerParameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://xmlns.example.com/BookingManagementREST/headerParameters">
                                                  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <xs:import namespace="http://tns.tibco.com/bw/REST"/>
                                                  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
                                          
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
                                        
    
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <xs:complexType name="bookingmanagementrestGetHeaderType">
                                                                                            
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <xs:complexContent>
                                                                                                                                          
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <xs:extension base="Q1:httpTransportHeaders">
                                                                                                                                                                                        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <xs:sequence>






        	<xs:element name="ObjectID" type="xs:string"></xs:element>
        </xs:sequence>






















      </xs:extension>
                                                                                                                                        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </xs:complexContent>
                                                                                          
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </xs:complexType>
                                                  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <xs:element name="bookingmanagementrestGetHeader" type="tns:bookingmanagementrestGetHeaderType"/>
                                              





    
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <xs:complexType name="bookingsGetHeaderType">
                                                                    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <xs:complexContent>
                                                                                                      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <xs:extension base="Q1:httpTransportHeaders">
                                                                                                                                        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <xs:sequence>
                                                                                                                                                                          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          <xs:element maxOccurs="1" minOccurs="1" name="ObjectID" type="xs:string"/>
                                                                                                                                                                        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        </xs:sequence>
                                                                                                                                      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      </xs:extension>
                                                                                                    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </xs:complexContent>
                                                                  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </xs:complexType>
                                      
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <xs:element name="bookingsGetHeader" type="tns:bookingsGetHeaderType"/>
                                  



    
  
  
  
  
  
  
  
  
  
  
  
  
  <xs:complexType name="bookingsPutHeaderType">
                                                    
    
    
    
    
    
    
    
    
    
    
    
    <xs:complexContent>
                                                                              
      
      
      
      
      
      
      
      
      
      
      
      <xs:extension base="Q1:httpTransportHeaders">
                                                                                                        
        
        
        
        
        
        
        
        
        
        
        
        <xs:sequence>
                                                                                                                                  
          
          
          
          
          
          
          
          
          
          
          
          <xs:element maxOccurs="1" minOccurs="1" name="ObjectID" type="xs:string"/>
                                                                                                                                
        
        
        
        
        
        
        
        
        
        
        
        </xs:sequence>
                                                                                                      
      
      
      
      
      
      
      
      
      
      
      
      </xs:extension>
                                                                            
    
    
    
    
    
    
    
    
    
    
    
    </xs:complexContent>
                                                  
  
  
  
  
  
  
  
  
  
  
  
  </xs:complexType>
                              
  
  
  
  
  
  
  
  
  
  
  
  
  <xs:element name="bookingsPutHeader" type="tns:bookingsPutHeaderType"/>
                          



    
  
  
  
  
  
  
  
  
  <xs:complexType name="bookingsDeleteHeaderType">
                                    
    
    
    
    
    
    
    
    <xs:complexContent>
                                                      
      
      
      
      
      
      
      
      <xs:extension base="Q1:httpTransportHeaders">
                                                                        
        
        
        
        
        
        
        
        <xs:sequence>
                                                                                          
          
          
          
          
          
          
          
          <xs:element maxOccurs="1" minOccurs="1" name="ObjectID" type="xs:string"/>
                                                                                        
        
        
        
        
        
        
        
        </xs:sequence>
                                                                      
      
      
      
      
      
      
      
      </xs:extension>
                                                    
    
    
    
    
    
    
    
    </xs:complexContent>
                                  
  
  
  
  
  
  
  
  </xs:complexType>
                      
  
  
  
  
  
  
  
  
  <xs:element name="bookingsDeleteHeader" type="tns:bookingsDeleteHeaderType"/>
                  




    
  
  
  
  <xs:complexType name="bookingmanagementrestPostHeaderType">
                
    
    
    <xs:complexContent>
                        
      
      
      <xs:extension base="Q1:httpTransportHeaders">
                                
        
        
        <xs:sequence>
                                        
          
          
          <xs:element maxOccurs="1" minOccurs="1" name="ObjectID" type="xs:string"/>
                                        
          
          
                                      
        
        
        </xs:sequence>
                              
      
      
      </xs:extension>
                      
    
    
    </xs:complexContent>
              
  
  
  </xs:complexType>
            
  
  
  
  <xs:element name="bookingmanagementrestPostHeader" type="tns:bookingmanagementrestPostHeaderType"/>
        



</xs:schema>
